body {
  background: #009688;
  padding: 0;
  margin: 0;
  font:
    20px/1 "HanHei SC",
    "PingHei",
    "PingFang SC",
    "STHeitiSC-Light",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif;
  overflow: hidden;
  cursor: default;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";
  direction: ltr;
  text-align: left;
}

.r {
  float: right;
}
.l {
  float: left;
}

.clear {
  clear: both;
}

.bg {
  background: url("//img.alicdn.com/tps/TB1qq7kNXXXXXacXFXXXXXXXXXX-400-186.png") no-repeat;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
